<header>
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="index.html" class="logo-link">
                    <img src="../images/AppIcon1024.png" alt="APK Installer Logo" id="logo">
                    <h1>APK Installer</h1>
                </a>
            </div>
            <div class="language-selector">
                <select id="language-select">
                    <option value="en">English</option>
                    <option value="ja">日本語</option>
                </select>
            </div>
        </div>
    </div>
</header>