<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-logo">
                <!--<img src="images/AppIcon1024.png" alt="APK Installer Logo">-->
                <!--<p>APK Installer</p>-->
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="./">ホーム</a></li>
                    <li><a href="privacy.html">プライバシーポリシー</a></li>
                    <li><a href="terms.html">利用規約</a></li>
                </ul>
            </div>
        </div>
        <p class="credit-line">Mac App Store と macOS は、米国およびその他の国で登録されたApple Inc.の商標です。</p>
        <div class="copyright">
            <p>&copy; 2025 yutokun All rights reserved.</p>
        </div>
    </div>
</footer>

